*.sh
*.swp
*.swo
Pop_Music_Midi
# readme_aws.txt # pls dont ignore
Data/wget.py
Data/*.mp3
Data/mp3
Data/mp3_v2
*.mp3 #just..all of them
*.pyc
*.tmp # wget is running and creates these .tmp files
*.zip 
